<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"

  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
    xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
 
  IgnorableNamespaces="uap rescap uap3 uap2 iot uap4">

  <Identity
    Name="shrimqy.Seki-PhoneLink"
    Publisher="CN=BEC0F2AA-07EB-4762-A2FE-13550AF289A5"
    Version="0.2.1.0" />

  <mp:PhoneIdentity PhoneProductId="262eeefb-d6dc-45a8-a0ec-2a93a3b4833a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Seki - Phone Link</DisplayName>
    <PublisherDisplayName>shrimqy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Seki"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" Description="Windows Client to connect your android device.">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType/>
            </uap:SupportedFileTypes>
			  <uap:DataFormat>StorageItems</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
		<uap5:Extension Category="windows.startupTask">
			<uap5:StartupTask
			TaskId="8B5D3E3F-9B69-4E8A-A9F7-BFCA793B9AF0"
			Enabled="false"
			DisplayName="Seki" />
		 </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
	 <rescap:Capability Name="runFullTrust" />
    <uap3:Capability Name="userNotificationListener"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="musicLibrary"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <iot:Capability Name="systemManagement"/>
    <uap:Capability Name="userAccountInformation"/>
    <uap4:Capability Name="userDataTasks"/>
    <Capability Name="privateNetworkClientServer"/>
	 <uap:Capability Name="picturesLibrary"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>
